<div id="nav">
	<div id="header"><a class="w0" href="#tor">Bjarni Tor Pétursson</a></div>
	<ul>
	  <li><a class="w1" href="#next_room_harp">Next room harp</a></li>
	  <li><a class="w2" href="#fade_from_black">Fade from black</a></li>
	  <li><a class="w3" href="#faun">Faun</a></li>
	  <li><a class="w4" href="#the_cave">The Cave</a></li>
	  <li><a class="w5" href="#a_sea">A sea in which one could drown</a></li>
	  <li><a class="w6" href="#carpet_island">Carpet island</a></li>
	  <li class="nav_break"></li>
	  <li><a class="cv" href="#cv_page">cv</a></li>
	  <li><a class="contact" href="#contact_page">contact</a></li>
	</ul>
</div>