<div id="nav">
	<div id="header"><a class="w0" href="#tor">Bjarni Tor Petursson</a></div>
	<ul>
	  <li><a class="w1" href="#next_room_harp">Next room harp</a></li>
	  <li><a class="w10" href="#dismantled">Next room harp dismantled set</a></li>
	  <br>

	  <li><a class="w2" href="#fade_from_black">Fade from black installation view</a></li>
	  <li><a class="w12" href="#fade_from_black_stills">Fade from black stills</a></li>
	  <br>

	  <li><a class="w11" href="#faun_install">Faun installation view</a></li>
	  <li><a class="w3" href="#faun">Faun stills</a></li>
	  <br>

	  <li><a class="w4" href="#the_cave">The Cave</a></li>
	  <br>

	  <li><a class="w5" href="#a_sea">A sea in which one could drown</a></li>
	  <br>

	  <li><a class="w6" href="#carpet_island">Carpet Island</a></li>
	  <br>
	  
	  <li><a class="w7" href="#karon">Karon</a></li>
	  <br>
	  
	  <li><a class="w8" href="#untitled">Untitled / Black</a></li>
	  <br>
	  
	  <li><a class="w9" href="#landscape">Landscape</a></li>
	  
	  <li class="nav_break"></li>
	  <li><a class="cv" href="#cv_page">cv</a></li>
	  <li><a class="contact" href="#contact_page">contact</a></li>
	</ul>
</div>