---
layout: default_arrow
---

{{ content }}

<div id="overview">

<div id="over_group1">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 1 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group2">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 2 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group3">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 3 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group4">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 4 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group5">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 5 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group6">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 6 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group7">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 7 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group8">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 8 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group9">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 9 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

<div id="over_group10">
{% assign sorted_works = (site.works | sort: 'over_weight')%}
{% for work in sorted_works %}
{% if work.overview_group == 10 %}
{% assign i = work.image_in_overview | minus:1 %}
	<a href="{{ work.url | relative_url }}" class="over_group{{work.overview_group}}"><div class="hf"><img src="{{ work.Items[i].image | relative_url }}"></div></a><br><br>
{% endif %}
{% endfor %}
</div>

</div>
